{% extends "master/index.html" %} 
{% block title %} Forgot Password {% endblock %} 
{% block content %}
<div class="form-wrapper"> 
<h1>Forgot Password</h1>
<a href="/login">Login</a>
<a href="/sign-up">Sign Up</a>
<form class="form-container">
    <label class="form-label" for="email">Email Address:</label>
    <input class="form-input" type="email" id="email" name="email" required>
    <button class="form-button" type="submit">Reset Password</button>
    <a href="/login">Back to login</a>
</form>
</div>
{% endblock %}