{% extends "master/index.html" %} 
{% block title %} Login {% endblock %} 
{% block content %}
 
<div class="form-wrapper"> 
    <h1>Login</h1>
<a href="/login">Login</a> 
<a href="/sign-up">Sign Up</a>
<form class="form-container">
    <label class="form-label" for="email">Email Address:</label>
    <input class="form-input" type="email" id="email" name="email" required>

    <label class="form-label" for="password">Password:</label>
    <input class="form-input" type="password" id="password" name="password" required>

    <a href="/forgot-password">Forgot password?</a>

    <button class="form-button" type="submit">Login</button>
</form>
</div>
{% endblock %}