{% extends "master/index.html" %} 
{% block title %} Reset Password {% endblock %} 
{% block content %}
<div class="form-wrapper"> 
<h1>Reset Password</h1>
<a href="/login">Login</a>
<a href="/sign-up">Sign Up</a>
<form class="form-container">
  
    <label class="form-label" for="password">Password:</label>
    <input class="form-input" type="password" id="password" name="password" required>
    <button class="form-button" type="submit">Reset Password</button>
    <a href="/login">Back to login</a>
</form>
</div>
{% endblock %}