{% load static %} {% load compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% compress css %}
    <link
      rel="stylesheet"
      type="text/x-scss"
      href="{% static 'styles.scss' %}"
    />
    {% endcompress %}

    <link
      href="{% static 'fontawesomefree/css/fontawesome.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/brands.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/solid.css' %}"
      rel="stylesheet"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="page-layout">
    <header class="header-container">
      <div>
        <a href="/">Home</a>
        <button><i class="fa-solid fa-bars"></i></button>
      </div>
      <div>
        <div>
          <input placeholder="Search products..." />
          <a href="/search"> 
          <button><i class="fa-solid fa-magnifying-glass"></i></button>
          </a>
        </div>
      </div>
      <div>
        <a href="/wishlist"> 
        <button><i class="fa-regular fa-heart"></i></button>
        </a>
        <a href="/basket"> 
        <button><i class="fa-solid fa-basket-shopping"></i></button>
      </a>
       <a href="/login"> 
        <button><i class="fa-regular fa-user"></i> Sign In</button>
      </a>
      </div>
    </header>
    <main class="page-container"> 
    {% block content %} {% endblock %}
  </main>
    <footer class="footer-container">
      <p>©{% now "Y" %} company</p>
      <div>
        <a href="/info/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/info/privacy-policy">Privacy Policy</a>
        <a href="/info/returns-policy">Returns Policy</a>
        <a href="/info/terms-and-conditions">Terms and Conditions</a>
      </div>
    </footer>
  </body>
</html>
