 
 {% load compress static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% compress css %}
    <link
      rel="stylesheet"
      type="text/x-scss"
      href="{% static 'styles.scss' %}"
    />
    {% endcompress %}

    <link
      href="{% static 'fontawesomefree/css/fontawesome.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/brands.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/solid.css' %}"
      rel="stylesheet"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="page-layout">
    <header class="header-container">
      <div class="header-left">
        <a class="header-logo-text" href="/">Gifty
        </a>
     
      </div>
      <div class="header-center">
        <div  class="header-search-container">
          <input placeholder="Search products..." class="header-search-input" />
          <!-- <a href="/search">  -->
          <button
          class="header-search-button"
          ><i class="fa-solid fa-magnifying-glass"></i></button>
          <!-- </a> -->
        </div>
      </div>
      <div class="header-right">
        <a href="/login"> 
          <button class="header-control"> </i> Sign In</button>
        </a>
        <a href="/wishlist"> 

        <button class="header-control"> 
          <i class="fa-regular fa-heart header-control-icon"></i>
        </button>
        </a>
        <a href="/basket"> 
        <button class="header-control"><i class="fa-regular fa-basket-shopping header-control-icon"></i></button>
      </a>
     
      </div>
    </header>
    <main class="page-container"> 
    {% block content %} {% endblock %}
  </main>
    <footer class="footer-container">
      <div class="footer-copyright-container">
      <p>© {% now "Y" %} Gifty</p>
      </div>
      <div class="footer-links-container">
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/privacy-policy">Privacy Policy</a>
        <a href="/returns-policy">Returns Policy</a>
        <a href="/terms-and-conditions">Terms and Conditions</a>
      </div>
    </footer>
  </body>
</html>
