{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />

    <link
      href="{% static 'fontawesomefree/css/fontawesome.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/brands.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/solid.css' %}"
      rel="stylesheet"
    />
    <title>Products</title>
  </head>
  <body>
    {% include "layouts/header.html" %}
    <ul class="cards-container">
      {% for product in products_data%}
      <li class="card-container">
        <a class="card-container" href="/products/{{product.id}}">
          <div class="card-image-container">
            <img class="card-image" src="{{product.thumbnail}}" />
          </div>

          <p>{{ product.title }}</p>
          <div>
            <button><i class="fa-regular fa-heart"></i>Save</button>
            <button>
              <i class="fa-solid fa-basket-shopping"></i>Add to basket
            </button>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
