{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
    <title>Products</title>
  </head>
  <body>
    {% include "layouts/header.html" %}
    <h1>Products</h1>
    <ul>
      {% for product in products_data%}
      <li>
        <a href="/products/{{product.id}}">
          <img src="{{product.thumbnail}}" />
          <p>{{ product.title }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
